/*
 * Example cluster overlay for running this RNA-seq pipeline on a SLURM server.
 *
 * Usage:
 *   nextflow run nextflow/rnaseq \
 *     -profile slurm \
 *     -c nextflow/rnaseq/conf/slurm.example.config \
 *     --outdir /path/to/results
 *
 * Edit the placeholders below before use.
 */

workDir = '/path/to/nextflow_work'

process {
    queue = 'cpu'
    clusterOptions = '--account=YOUR_ACCOUNT'

    /*
     * Choose one environment strategy:
     * 1) conda activate
     * 2) module load
     *
     * Leave only the one you actually use.
     */
    beforeScript = '''
    source ~/miniconda3/etc/profile.d/conda.sh
    conda activate mDA_rnaseq
    '''

    /*
    beforeScript = '''
    module purge
    module load java
    module load fastqc
    module load multiqc
    module load trimmomatic
    module load star
    module load htseq
    module load cufflinks
    module load aria2
    module load python
    '''
    */

    withLabel: light {
        cpus = 2
        memory = '8 GB'
        time = '4h'
    }

    withLabel: medium {
        cpus = 8
        memory = '32 GB'
        time = '24h'
    }

    withLabel: heavy {
        cpus = 24
        memory = '96 GB'
        time = '48h'
    }
}

executor {
    queueSize = 24
    submitRateLimit = '6 sec'
}
