def report_stamp = new java.text.SimpleDateFormat('yyyyMMdd_HHmmss').format(new Date())

manifest {
    name = 'melendez-rnaseq'
    author = 'Yufan'
    mainScript = 'main.nf'
    nextflowVersion = '!>=23.10.0'
}

params {
    outdir = "${launchDir}/results/rnaseq_nf"
    publish_mode = 'symlink'
    reference_dir = "${launchDir}/ref"
    auto_download_refs = true
    container_image = 'melendez-rnaseq:latest'

    genome_fasta = "${params.reference_dir}/GRCh38.primary_assembly.genome.fa"
    gtf = "${params.reference_dir}/gencode.v29.annotation.gtf"
    star_index = "${params.reference_dir}/star_index"
    read_length = 75
    sjdb_overhang = 74
    genome_fasta_url = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_29/GRCh38.primary_assembly.genome.fa.gz'
    gtf_url = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_29/gencode.v29.annotation.gtf.gz'

    download_connections = 8
    download_splits = 8
    download_min_split = '50M'
    run_multiqc = true
    aria2c_cmd = 'aria2c'
    fastqc_cmd = 'fastqc'
    multiqc_cmd = 'multiqc'
    trimmomatic_cmd = 'trimmomatic'
    star_cmd = 'STAR'
    htseq_cmd = 'htseq-count'
    cufflinks_cmd = 'cufflinks'

    trimmomatic_java_heap = '40g'
    trimmomatic_adapter_fa = "${params.reference_dir}/TruSeq3-PE.fa"
    trimmomatic_adapter_url = 'https://raw.githubusercontent.com/usadellab/Trimmomatic/main/adapters/TruSeq3-PE.fa'
    trimmomatic_clip_args = '2:30:10'
    trimmomatic_trim_args = 'LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36'

    star_sort_ram = 30000000000
    star_extra = ''
    htseq_extra = ''
    cufflinks_extra = ''
    python_bin = 'python3'
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'terminate'
    maxRetries = 1

    withLabel: light {
        cpus = 2
        memory = '4 GB'
        time = '4h'
    }

    withLabel: medium {
        cpus = 8
        memory = '24 GB'
        time = '24h'
    }

    withLabel: heavy {
        cpus = 16
        memory = '64 GB'
        time = '48h'
    }
}

profiles {
    standard {
        process.executor = 'local'
        executor.queueSize = 4

        process {
            withLabel: light {
                cpus = 2
                memory = '4 GB'
                maxForks = 4
            }

            withLabel: medium {
                cpus = 4
                memory = '12 GB'
                maxForks = 2
            }

            withLabel: heavy {
                cpus = 8
                memory = '32 GB'
                maxForks = 1
            }
        }
    }

    slurm {
        process.executor = 'slurm'
        executor.queueSize = 24
    }

    docker {
        process.executor = 'local'
        executor.queueSize = 4
        docker.enabled = true
        process.container = params.container_image

        params {
            aria2c_cmd = 'micromamba run -n rnaseq aria2c'
            fastqc_cmd = 'micromamba run -n rnaseq fastqc'
            multiqc_cmd = 'micromamba run -n rnaseq multiqc'
            trimmomatic_cmd = 'micromamba run -n rnaseq trimmomatic'
            star_cmd = 'micromamba run -n rnaseq STAR'
            htseq_cmd = 'micromamba run -n rnaseq htseq-count'
            cufflinks_cmd = 'micromamba run -n cufflinks cufflinks'
            python_bin = 'micromamba run -n rnaseq python3'
        }

        process {
            withLabel: light {
                cpus = 2
                memory = '4 GB'
                maxForks = 4
            }

            withLabel: medium {
                cpus = 4
                memory = '12 GB'
                maxForks = 2
            }

            withLabel: heavy {
                cpus = 8
                memory = '32 GB'
                maxForks = 1
            }
        }
    }
}

timeline {
    enabled = true
    file = "${launchDir}/nextflow_${report_stamp}_timeline.html"
}

report {
    enabled = true
    file = "${launchDir}/nextflow_${report_stamp}_report.html"
}

trace {
    enabled = true
    file = "${launchDir}/nextflow_${report_stamp}_trace.txt"
}

dag {
    enabled = true
    file = "${launchDir}/nextflow_${report_stamp}_dag.svg"
}
